<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>VGR</title>
  <title>Video Game Reviews</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <h1 class="header1">VGR</h1>
  <h2 class="header2">Video Game Reviews</h2>
  <nav>
    <div class="navlink"><a id="homeButton" href="/home">Home</a></div>
    <div class="navlink"><a id="accountButton" href="/account">Account</a></div>
    <div class="navlink"><a id="searchButton" href="/search">Search</a></div>
    <div class="navlink" id="logoutCSS"><a id="logoutButton" href="/logout">Log out</a></div>
    <a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo" /></a>
  </nav>
  <section id="content"></section>
  <div id="gamerMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage">Wrong username or password</span></h3><img id="gamer" src="assets/img/gamer.png"
      alt="gamer" />
  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>