@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #F7F7F2;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: inline-block;
  background-color: #6D72C3;
  border-radius: 4px;
  color: #F7F7F2;
  text-decoration: none;
  margin-top: 5px;
  border: none;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: rgb(159, 163, 247);
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: #F7F7F2;
  transition: background-color 0.4s ease;
  background-color: rgb(159, 163, 247);
}

#logo {
  height: 40px;
  width: 40;
  padding-top: 12px;
  float: right;
  border-radius: 8px;
  margin-left: 10px;
}

nav {
  width: 100%;
  height: 65px;
  background-color: #121113;
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  /*padding: 5px;*/
  padding-top: 18px;
  padding-left: 20px;
  color: #121113;
  font-size: 1.3em;
  float: left;
  margin: 0 auto;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  color: #F7F7F2;
  text-decoration: none;
  background-color: #121113;
  transition: background-color 0.4s ease;
}

.navlink a:hover {
  transition: color 0.4s ease;
  color: #EA638C;
}

#loginCSS, #logoutCSS, #signupCSS, #logo {
  float: right;
  margin-right: 10px;
}

.gamerForm {
  border: 2px solid #EA638C;
  width: 80%;
  padding: 25px;
  padding-bottom: 40px;
  background-color: #EA638C;
  border-radius: 4px;
  margin: 0 auto;
}

.gamerForm input[type=text] {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.gamerForm input[type=text]:nth-child(1) {
  width: 60%;
  display: inline;
}

.gamerForm input[type=text]:nth-child(3) {
  min-height: 100px;
  width: 100%;
}

input {
  font-family: 'Open Sans', sans-serif;
}

#loginPageHeader {
  margin-top: 160px;
}

.makeGamerSubmit {
  transition: background-color 0.4s ease;
  display: inline-block;
  width: 90px;
  background-color: #6D72C3;
  border-radius: 4px;
  color: #F7F7F2;
  text-decoration: none;
  margin-top: 5px;
  float: right;
  border: none;
}

.passChange{
  transition: background-color 0.4s ease;
  display: inline-block;
  width: 130px;
  height: 30px;
  background-color: #6D72C3;
  border-radius: 4px;
  color: #F7F7F2;
  text-decoration: none;
  margin-top: 5px;
  float: right;
  border: none;
  margin-right: 2em;
}

.makeGamerSubmit:hover, .passChange:hover {
  transition: background-color 0.4s ease;
  background-color: rgb(159, 163, 247);
}

.makeGamerSubmit:link, .makeGamerSubmit:visited, .makeGamerSubmit:hover, .makeGamerSubmit:active, .passChange:link, .passChange:visited, .passChange:hover, .passChange:active {
  color: #F7F7F2;
  transition: background-color 0.4s ease;
  background-color: rgb(159, 163, 247);
}

.mainForm {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 1.2em;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  width: 100px;
  background-color: #6D72C3;
  color: #F7F7F2;
  text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: #F7F7F2;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: rgb(159, 163, 247);
}

#user, #pass, #pass2 {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #6D72C3;
}

#gamerMessage {
  display: none;
  top: 250px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
}

#gamerMessage h3 {
  width: 200px;
  position: absolute;
  top: 0px;
  margin-top: 40px;
  left: 20px;
}

#speech {
  height: 200px;
  width: 240px;
  z-index: 300;
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: #EA638C;
  font-style: italic;
}

#gamer {
  z-index: 225;
  margin-top: -80px;
  margin-left: 80px;
  height: 450px;
  width: 400px;
  /*changed*/
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.gamer {
  border: 2px solid #6D72C3;
  border-radius: 4px;
  background-color: #6D72C3;
  padding: 25px;
  min-height: 60px;
  overflow: hidden;
}

/*
.gamer:hover {
  transition: border-color 0.2s ease-out;
  border-color: rgba(255, 255, 255, 0.8);
}
*/

img.gamerFace {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin-top: 10px;
  float: left;
  border: 2px solid #121113;
  border-radius: 4px;
}

h3.emptyGamer {
  width: 400px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
}

h3.gamerName {
  display: inline;
  float: left;
  font-weight: bold;
  padding-left: 50px;
  font-size: 1.5em;
}

h3.gamerRecommend {
  display: inline;
  float: right;
  text-align: left;
  font-weight: bold;
  padding-right: 40px;
}

h3.gamerReview {
  display: block;
  float: left;
  text-align: left;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 10px;
}

#gamerName, #gamerRecommend, #gamerReview {
  border-radius: 4px;
  border: none;
}

.header1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0em;
  margin-top: .5em;
}

.header2 {
  text-align: center;
  font-size: 2em;
  margin-top: 0em;
  padding: 0em;
}

#makeGamer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#middlescreen {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#gamerRecommend {
  display: inline;
  width: 100px;
  height: 20px;
  margin-left: 5px;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

#gamers {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gamerList {
  height: 100px;
  padding: 15px;
  margin: 0 auto;
}

a.active {
  color: #6D72C3 !important;
}

/*
need to style selector
https://www.w3schools.com/howto/howto_custom_select.asp
*/